.about-section__wrapper {
  padding: 19px 0 69px 0;
}

.about-section__title {
  margin: 0 0 14px 0;
}

.about-section__description {
  margin: 0 0 45px 0;
}

.about-section__employee {
  margin-right: 32px;
  margin-bottom: 32px;
}