.design-section__wrapper {
  padding: 0 0 90px 0;
  background-image: url('../../assets/img/design/background.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

.design-section__title {
  margin: 0 auto 68px;
  max-width: 462px;
  text-align: center;
}

.design-section__button {
  margin: 34px 0 0 0;
  text-align: center;

  & > button {
    padding: 15px 38px 16px;
  }
}