.marketing-section__wrapper {
  padding-bottom: 48px;
}

.marketing-section__title {
  margin-bottom: 14px;
}

.marketing-section__description {
  margin: 0 0 24px 0;
}

.marketing-section__tags {
  margin: 0 0 31px 0;

  & > li {
    margin-right: 7px;
  }
}

.marketing-section__strategy {
  margin: 0 0 30px 0;
}