.start-section__wrapper {
  @include flex($display: flex, $justify: space-between, $align: center);
  padding: 30px 0 111px 0;
}

.start-section__title {
  margin: 0 0 30px 0;
}

.start-section__description {
  @include font($size: 1.8rem, $height: 2.8rem);
  margin: 0 0 53px 0;
  max-width: 487px;
  font-family: 'Poppins', 'Verdana', sans-serif;
}

.start-section__button {
  margin: 0 41px 0 0;
  padding: 15px 41px 16px;
  font-weight: bold;
}