html {
	font-size: 10px;
}

body {
	font-size: $base-fontsize;
	font-family: 'Open Sans', 'Verdana', sans-serif;
}

a {
	text-decoration: none;
	color: $color-title;
}

button {
	cursor: pointer;
}

p {
	@include font($size: $base-fontsize, $height: $base-lineheight);
	color: $color-text;
}

h1 {
	@include font($size: 4.4rem, $height: 5.4rem, $weight: bold);
	font-family: 'Poppins', 'Verdana', sans-serif;
}