$color-orange-peel: #FF9900;
$color-coral: #FF7549;
$color-peach-cream: #FFEEE1;
$color-violet: #7752BE;
$color-yellow: #FAB005;
$color-red: #F03E3D;
$color-lightblue: #4DADF7;
$color-gray: #C6C6C6;
$color-wild-sand: #F5F5F5;
$color-periwinkle-gray: #BCD0E5;
$color-zeus: #2F281E;
$color-judge-gray: #544837;
$color-blue: #1943EF;
$color-white: #ffffff;
$color-nile-blue: #173A56;

$color-primary: $color-orange-peel;
$color-additional: $color-coral;
$color-title: $color-zeus;
$color-text: $color-judge-gray;
$color-tag: $color-wild-sand;
$color-border: $color-periwinkle-gray;
$color-link: $color-blue;
$color-background: $color-peach-cream;
$color-placeholder: $color-gray;

$content-width: 1198px;
$base-fontsize: 1.6rem;
$base-lineheight: 2.6rem;