.header {
	box-shadow: $shadow;

	&-wrapper {
		@include flex($display: flex, $justify: space-between, $align: center);
		padding: 8px 0 11px 0;
	}
}

.header__navigation {
	padding-right: 45px;
}

.header__button {
	margin-left: 15px;
}