.navigation {
    display: flex;
    list-style: none;
    padding: 0;
}

.navigation__item {
    padding: 0 16px;
}

.navigation__link {
    font-size: 1.5rem;
    transition: all 0.5s;

    &:hover {
        color: $color-primary;
    }
}